SetEnv PHP_VER 5_4

AuthName "Page d'administration protégée"
AuthType Basic
AuthUserFile "/homez.100/enpc/www/dev-foyer/admin/.htpasswd"
Require valid-user

<Files ~ "^\.git">
    Order allow,deny
    Deny from all
</Files>