/******* MODIFICATION PAR RAPPORT AU DESIGN *********/

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.central_large
{
	position: relative;
	
	width: 95%;
	height: 90%;
	
	margin: auto;
	top: 2%;
}

.gestion
{
	text-align:center;
}

/***************** MISE EN FORME DES DEUX COLONNES ***********************/

.gestion > div 
{
	position:relative;
	overflow:hidden;
	
	vertical-align:top;
}

.gestion #eleves
{
	display:inline-block;
	
	width:59%;
	height:90%;
}

.gestion #produits
{
	display:inline-block;
	
	width:39%;
	height:90%;
	
	text-align:left;
}

/***************** LES QUATRES SECTIONS DE LA PAGE ***********************/

.gestion  article
{
	position:relative;
	overflow:hidden;
	
	width:100%;
}

.gestion #list_eleves
{
	height:40%;
}

.gestion #selected_eleves
{
	height:60%;
	
	top:10px;
}

.gestion #user_actions
{
	top:10px;
	
	text-align:center;
	vertical-align:middle;
}

.gestion #produits
{
	height:100%;
}

/***************** MISE EN FORME D'UNE SECTION A PROPREMENT PARLER ***********************/

.gestion .article_title
{
	width:200px;
	height:24px;
	
	line-height:24px;
	
	margin-left:10px;
	padding:0 7px;
	
	background-color:#1B1B1B;
	
	border-color: #1A1819 #1A1819 -moz-use-text-color;
	border-width: 1px 1px 0;
	border-style: solid solid none;
    border-radius: 5px 5px 0 0;
	
		
	font-size:80%;	
}

.gestion .article_content
{
	position:relative;
	
	width:100%;
	
    border-radius: 5px;
    border:1px solid #1A1819;
}

/***************** MISE EN FORME DES TABLES ELEVES ***********************/

#list_eleves_table, #selected_eleves_table
{
	height:84%;
	width:100%;
	text-align:left;
	position:relative;
}

.gestion .table_title
{
	width:100%;
	height:50px;
	
	line-height:50px;
	
	background-color:#1B1B1B;
	
	font-weight:bold;
}

.scroll_bar
{
	position:relative;
	
	width:100%;
	height:100%;
}

.gestion .table_content /*ATTENTION ENFANT DE LA SCROLL BAR ET NON L'INVERSE */
{
	width:100%;
	height:88%;
}

.gestion .table_row
{
	position:relative;
	
	list-style-type:none; 
	cursor:pointer;
}

 .table_row:nth-child(2n+1) 
 {
    background-color: rgba(0, 0, 0, 0.1);
}

 #list_eleves_table .table_row
  {
	height:40px;
	line-height:35px;
 }
 
 #selected_eleves_table .table_row
  {
	height:90px;
	line-height:20px;
	font-weight:bold;
	font-size:12px;
 }
 
 
.table_row > span, .table_title  > span
 {
	display:inline-block;
	padding:0 15px;
	height:100%;
	vertical-align:middle;
	border-left:1px solid #1A1819;
	position:relative;
 }
 
 .table_title span
 {
	line-height:35px;
 }
 
 
.table_content .cell_photo
{
	height:100%;
}
 
#list_eleves_table .cell_photo
{
	width:60px;
} 

#selected_eleves_table .cell_photo
{
	width:10%;
	padding:0;
	text-align:center;
}
 
#list_eleves_table .table_row span:not(.cell_photo),#list_eleves_table .table_title span:not(.cell_photo)
{
	width:25%;
}
 
 .table_content .cell_photo img
{
	vertical-align:middle;
	height:90%;
	position:relative;
	border:1px solid #DDD;
	margin-top:5%;
}
 
#list_eleves_table .cell_photo img
{
	width:30px;
} 
 
#selected_eleves_table .cell_photo img
 {
	max-width:100%;
}
 
 
.table_content .not_shown, .table_content .selected, .table_content .id, .table_content .litres_bus, .table_content .active, .table_content .distinctions, .table_content .active, .table_content .url_photo
{
	display:none;
}

/***************** MISE EN FORME DE LA BARRE DE RECHERCHE ***********************/

.gestion #search_bar
{
	position:absolute;
	width:100%;
	height:40px;
	line-height:40px;
	bottom:0;
	z-index:100;
	background-color:rgba(0, 0, 0, 0.4);
	font-weight:bold;
}


#to_search
{
	vertical-align:middle;
	position:relative;
	margin:0;
	padding:4px 0;
	top:-2px;
	width:200px;
	
	background-image: url("../images/icones/icons/zoom.png");
    background-position: 180px center;
    background-repeat: no-repeat;
}

/***************** MISE EN FORME DE LA SELECTION DES ELEVES ***********************/



#selected_eleves_table .full_name
{
	font-weight:bold;
	width:25%;
}	

#selected_eleves_table .order
{
	width:40%;
	position:relative;
}

#selected_eleves_table .actions
{
	width:24%;
	padding:0 5px;
}

.order_img
{
	height:20px;
	border:1px solid black;
	border-radius:3px;
	vertical-align:middle;
}

.actions a
{
	margin-left:2%;
	width:30%;
	height:90px;
	line-height:90px;
	display:inline-block;
}

.actions a img
{
	max-height:100%;
	max-width:100%;
	vertical-align:middle;
}



.command_pop
{
	position:absolute;
	right:2px;
	top:65px;
}

.command_script, .command_details
{
	display:none;
}

.details_tot
{
	font-weight:bold;
	position:absolute;
	bottom:3px;
	right:3px;
}

.details_item .right
{
	position:absolute;
	right:3px;
}




/***************** MISE EN FORME DES PRODUITS ***********************/
.product_item
{
	display:inline-block;
	width:100px;
	height:100px;
	margin:5px 5px;
	border:1px solid #1A1819;
	border-radius:3px;
	background-color:rgba(0,0,0,0.1);
	vertical-align:top;
	position:relative;
	overflow:hidden;
}

.product_item:hover
{
	background-color:rgba(0,0,0,0.3);
}

.product_name
{
	position:absolute;
	padding:2px;
	font-weight:bold;
	top:0;
	background-color:rgba(0,0,0,0.6);
	width:100%;
	z-index:100;
	font-size:80%;
}

.product_img
{
	width:100%;
	background-color:white;
	height:70px;
	position:absolute;
	top:0;
	overflow:hidden;
}

.product_item img
{
	width:100%;
}

.product_button
{
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	background-color:rgba(0,0,0,0.3);
}

.product_order
{
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
}

.product_item .whole
{
	width:100%;
	border-radius: 0px 0px 4px 4px;
}

.product_item  .half
{
	width:50%;
}	
.product_item  .half:last-child
{
	border-radius: 0px 0px 4px 0px;
}	
.product_item  .half:first-child
{
	border-radius: 0px 0px 0px 4px;
}	

.product_item .third
{
	width:33%;
	border-radius: 0px;
}
.product_item .third:first-child
{
	border-radius: 0px 0px 0px 4px;
}	
.product_item .third:last-child
{
	border-radius: 0px 0px 4px 0px;
}	


html body #jGrowl .white_popup
{
	background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: #1A1819;
    opacity: 1;
    text-shadow: none;
}

html body #jGrowl .grey_popup
{
	background-color: #262425;
    border: 1px solid #1A1819;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
    color: #B2B2B2;
    opacity: 1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}

html body #jGrowl .green_popup
{
	background-color: #468847;
    color: #FFFFFF;
	opacity:1;
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}

html body #jGrowl .red_popup
{
	background-color: #B94A48;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	opacity:1;
}

html body #jGrowl .blue_popup, .blue_popup
{
	background-color: #2B91AF;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	border-color:#1B819F;
	opacity:1;
}

html body #jGrowl .yellow_popup
{
	background-color: #C09853;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	opacity:1;
}

html body #jGrowl .black_popup, .black_popup
{
	background-color: #1A1819;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	opacity:1;
}

#popup_commande
{
	display:none;
	position:absolute;
	width:200px;
	min-height:100px;
	padding-bottom:20px;
	z-index:1000;
}

.popup_title
{
	padding:5px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-align:left;
	font-size:12px;
}	

.popup_content
{
	width:100%;
	padding:5px;
	font-size:12px;
}

input.valid_users, input.valid_users:hover
{
    background-image: url("../images/icones/icons/accept.png");
    background-position: 7px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

input.cancel 
{
    background-image: url("../images/icones/icons/cancel.png");
    background-position: 7px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}


img#pict_viewer{
    display: none;
    position: absolute;
    left: 30%;
    top: 50%;
    border: 10px solid white;
    z-index: 105;
    box-shadow: 0 0 3px #1E1E1E;
}

.prompt_box
{
	display:none;
	position:absolute;
	overflow:hidden;
	
	width:500px;
	
	top:-100px;
	left:-250px;
	margin-left:50%;
	margin-top:25%;
	
	background-color:#111;
	margin:1px solid #666;
	border-radius:5px;
	
	z-index:1000;
}

.prompt_box .label
{
	width:50%;
	text-align:right;
	font-weight:bold;
	font-size:0.8em;
	padding-right:10px;
}

#prompt_box_extern.label
{
	width:40%;
	
}



#popup_historique
{
	position:fixed;
	overflow:hidden;
	
	bottom:30px;
	right:-500px;
	
	background-color:#111;
	margin:1px solid #666;
	border-radius:5px;
	
	z-index:800;	
}

body > div > .title
{
	background-color:#050505;
	padding:10px;
	font-weight:bold;
}

.prompt_box .content
{
	padding:10px;
}	

.prompt_box table
{
	margin-top:5px;
	width:100%;
}

.prompt_box td
{
	line-height:40px;
	height:40px;
}

.prompt_box input
{
	margin-bottom:8px;
}

.prompt_box .buttons
{
	text-align:right;
	padding-right:50px;
}

.popup_historique table
{
	margin:0;
}



.miniature
{
	display:inline-block;
	height:25px;
	line-height:20px;
	width:25px;
	background-color:white;
	border:1px solid #555;
	border-radius:2px;
	vertical-align:middle;
}

.miniature img
{
	vertical-align:middle;
	width:100%;
}


.cancel_command
{
	vertical-align:middle;
	cursor:pointer;
}

.but_close
{
	position:absolute;
	cursor:pointer;
	right:15px;
	font-weight:bold;
	color:#BBB;
}

.but_close:hover
{
	color:white;
}

#modal_screen
{
	position:absolute;
	width:100%;
	height:100%;
	z-index:799;
	opacity:0.3;
	background-color:black;
	display:none;
}