/********************************************************************************/
/********************** MODIFICATION PAR RAPPORT AU DESIGN **********************/
/********************************************************************************/

html
{
	min-width:1000px;
	min-height:600px;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.central_large
{
	position: relative;
	
	width: 95%;
	height: 90%;
	
	margin: auto;
	top: 2%;
}

.gestion
{
	text-align:center;
}

/********************************************************************************/
/*********************** MISE EN FORME DES DEUX COLONNES ************************/
/********************************************************************************/

.gestion > div 
{
	position:relative;
	overflow:hidden;
	
	vertical-align:top;
}

.gestion #eleves
{
	display:inline-block;
	
	width:59%;
	height:90%;
}

.gestion #produits
{
	display:inline-block;
	
	width:39%;
	height:90%;
	
	text-align:left;
}

/********************************************************************************/
/********************* LES QUATRES SECTIONS DE LA PAGE **************************/
/********************************************************************************/

.gestion  article
{
	position:relative;
	overflow:hidden;
	
	width:100%;
	font-size:12px;
	font-weight:bold;
}

.gestion #list_eleves
{
	height:40%;
}

.gestion #selected_eleves
{
	height:60%;
	
	top:10px;
}

.gestion #user_actions
{
	top:10px;
	
	text-align:center;
	vertical-align:middle;
}

.gestion #produits
{
	height:100%;
}

/*****************************************************************************************/
/***************** MISE EN FORME D'UNE SECTION A PROPREMENT PARLER ***********************/
/*****************************************************************************************/

.gestion .article_title
{
	width:200px;
	height:24px;
	
	line-height:24px;
	
	margin-left:10px;
	padding:0 7px;
	
	background-color:#1B1B1B;
	
	border-color: #1A1819 #1A1819 -moz-use-text-color;
	border-width: 1px 1px 0;
	border-style: solid solid none;
    border-radius: 5px 5px 0 0;
	
	font-weight:bold;	
	font-size:100%;	
}

.gestion .article_content
{
	position:relative;
	overflow:hidden;
	
	width:100%;
	
    border-radius: 5px;
    border:1px solid #1A1819;
}

/********************************************************************************/
/********************* MISE EN FORME DES TABLES ELEVES **************************/
/********************************************************************************/

#list_eleves_table, #selected_eleves_table
{
	height:84%;
	width:100%;
	text-align:left;
	position:relative;
}

.gestion .table_title
{
	width:100%;
	height:50px;
	
	line-height:50px;
	
	background-color:#1B1B1B;
	
	font-weight:bold;
}

.scroll_bar
{
	position:relative;
	
	width:100%;
	height:100%;
}

.gestion .table_content /*ATTENTION ENFANT DE LA SCROLL BAR ET NON L'INVERSE */
{
	width:100%;
	height:88%;
}

.gestion .table_row
{
	position:relative;
	
	list-style-type:none; 
	cursor:pointer;

}

.gestion .table_row:last-child
{		
	border-bottom:1px solid #1A1819;
}

 #list_eleves_table .table_row
  {
	height:40px;
	line-height:35px;
 }
 
 #selected_eleves_table .table_row
  {
	height:90px;
	line-height:20px;
	font-weight:bold;
	font-size:12px;
 }
 
 #selected_eleves_table .table_row:last-child
{
	border-radius:0px 0 0 6px;
}
 
.table_row > span, .table_title  > span
 {
	display:inline-block;
	padding:0 15px;
	height:100%;
	vertical-align:middle;
	border-left:1px solid #1A1819;
	position:relative;
 }
 
 .table_title span
 {
	line-height:35px;
 }
 
 
.table_content .cell_photo
{
	height:100%;
}
 
#list_eleves_table .cell_photo
{
	width:60px;
} 

#selected_eleves_table .cell_photo
{
	width:10%;
	padding:0;
	text-align:center;
	line-height:85px;
	vertical-align:middle;
}
 
#list_eleves_table .table_row span:not(.cell_photo),#list_eleves_table .table_title span:not(.cell_photo)
{
	width:25%;
}
 
 .table_content .cell_photo img
{
	vertical-align:middle;
	position:relative;
	border:1px solid #DDD;
}
 
#list_eleves_table .cell_photo img
{
	width:30px;
} 
 
#selected_eleves_table .cell_photo img
 {
	max-width:90%;
	max-height:90%;
}

.old_solde
{
	color:rgb(224, 80, 32);
}

.new_solde
{
	color:rgb(36, 131, 160);
}
 
.table_content .not_shown, .table_content .selected, .table_content .id, .table_content .litres_bus, .table_content .active, .table_content .distinctions, .table_content .active, .table_content .url_photo, .table_content .comment
{
	display:none;
}

/********************************************************************************/
/***************** MISE EN FORME DE LA BARRE DE RECHERCHE ***********************/
/********************************************************************************/

.gestion #search_bar
{
	position:absolute;
	width:100%;
	height:40px;
	line-height:40px;
	bottom:0;
	z-index:100;
	background-color:rgba(0, 0, 0, 0.4);
	font-weight:bold;
}

#to_search
{
	vertical-align:middle;
	position:relative;
	margin:0;
	padding:4px 0;
	top:-2px;
	width:200px;
	
	background-image: url("../images/icones/icons/zoom.png");
    background-position: 180px center;
    background-repeat: no-repeat;
}

/**********************************************************************************/
/***************** MISE EN FORME DE LA SELECTION DES ELEVES ***********************/
/**********************************************************************************/

#selected_eleves_table .full_name
{
	font-weight:bold;
	width:25%;
}	

#selected_eleves_table .order
{
	width:40%;
	position:relative;
}

#selected_eleves_table .actions
{
	width:24%;
	padding:0 5px;
}

.order_img
{
	height:20px;
	border:1px solid black;
	border-radius:3px;
	vertical-align:middle;
}

.actions a
{
	margin-left:2%;
	width:30%;
	height:90px;
	line-height:90px;
	display:inline-block;
}

.actions a img
{
	max-height:100%;
	max-width:100%;
	vertical-align:middle;
}

.command_pop
{
	position:absolute;
	right:2px;
	top:65px;
}

.command_script, .command_details
{
	display:none;
}

.details_tot
{
	font-weight:bold;
	position:absolute;
	bottom:3px;
	right:3px;
}

.details_item .right
{
	position:absolute;
	right:3px;
}

/********************************************************************************/
/*********************** MISE EN FORME DES PRODUITS *****************************/
/********************************************************************************/

.product_item
{
	display:inline-block;
	width:100px;
	height:100px;
	margin:5px 5px;
	border:1px solid #1A1819;
	border-radius:3px;
	background-color:rgba(0,0,0,0.1);
	vertical-align:top;
	position:relative;
	overflow:hidden;
}

.product_item:hover
{
	background-color:rgba(0,0,0,0.3);
}

.product_name
{
	position:absolute;
	padding:2px;
	font-weight:bold;
	top:0;
	background-color:rgba(0,0,0,0.6);
	width:100%;
	z-index:100;
	font-size:80%;
}

.product_img
{
	position:absolute;
	overflow:hidden;
	
	width:100%;
	height:70px;
	line-height:70px;
	text-align:center;
	
	background-color:white;
}

.product_item img
{
	width:100%;
	vertical-align:middle;
}

.product_button
{
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	background-color:rgba(0,0,0,0.3);
}

.product_order
{
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	font-weight:bold;
	padding:0 !important;
	font-size:0.8em;
}

.product_item .whole
{
	width:100%;
	border-radius: 0px 0px 4px 4px;
}

.product_item  .half
{
	width:50%;
}	
.product_item  .half:last-child
{
	border-radius: 0px 0px 4px 0px;
}	
.product_item  .half:first-child
{
	border-radius: 0px 0px 0px 4px;
}	

.product_item .third
{
	width:33%;
	border-radius: 0px;
}
.product_item .third:first-child
{
	border-radius: 0px 0px 0px 4px;
}	
.product_item .third:last-child
{
	border-radius: 0px 0px 4px 0px;
}	

/********************************************************************************/
/*************************** BOUTONS ACTIONS GLOBALES ***************************/
/********************************************************************************/

#user_actions .with_icon
{
	padding-left:23px !important;
	padding-right:8px !important;
}

#user_actions .without_icon
{
	padding-left:8px !important;
	padding-right:8px !important;
}

input.valid_users, input.valid_users:hover
{
      padding-left: 30px;
	
	background-image: url("../images/icones/icons/accept.png");
    background-position: 7px center;
    background-repeat: no-repeat;
}

input.cancel 
{
    padding-left: 30px;
	
	background-image: url("../images/icones/icons/cancel.png");
    background-position: 7px center;
    background-repeat: no-repeat;
}

/********************************************************************************/
/******************************* ZOOM PHOTO PROFIL ******************************/
/********************************************************************************/

img#pict_viewer
{
    position: absolute;
	display: none;
	
    left: 30%;
    top: 50%;
	
    border: 10px solid white;
    box-shadow: 0 0 3px #1E1E1E;
	
	z-index: 105;
}


/********************************************************************************/
/*********************************** POPUPs**************************************/
/********************************************************************************/

html body #jGrowl .white_popup
{
	background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: #1A1819;
    opacity: 1;
    text-shadow: none;
}

html body #jGrowl .grey_popup
{
	background-color: #262425;
    border: 1px solid #1A1819;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
    color: #B2B2B2;
    opacity: 1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}

html body #jGrowl .green_popup
{
	background-color: #468847;
    color: #FFFFFF;
	opacity:1;
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}

html body #jGrowl .red_popup
{
	background-color: #B94A48;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	opacity:1;
}

html body #jGrowl .blue_popup, .blue_popup
{
	background-color: #2B91AF;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	border-color:#1B819F;
	opacity:1;
}

html body #jGrowl .yellow_popup
{
	background-color: #C09853;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	opacity:1;
}

html body #jGrowl .black_popup, .black_popup
{
	background-color: #1A1819;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	opacity:1;
}

#popup_commande
{
	position:absolute;
	display:none;
	
	width:200px;
	min-height:100px;
	
	padding-bottom:20px;
	
	z-index:1000;
}

.popup_title
{
	height:30px;
	line-height:30px;
	
	padding:5px;
	
	text-align:left;
	font-size:12px;
	font-weight:bold;
}	

.popup_content
{
	width:100%;
	padding:5px;
	font-size:12px;
}



/********************************************************************************/
/******************************** PROMPT BOXES***********************************/
/********************************************************************************/

.prompt_box
{
	display:none;
	position:absolute;
	overflow:hidden;
	
	width:500px;
	
	top:-100px;
	left:-250px;
	margin-left:50%;
	margin-top:25%;
	
	background-color:#111;
	margin:1px solid #666;
	border-radius:5px;
	
	z-index:1000;
}

.prompt_box .title, #popup_historique .title
{
	background-color:#050505;
	padding:10px;
	font-weight:bold;
}

.prompt_box .content
{
	padding:10px;
}	

.prompt_box .buttons
{
	text-align:right;
	padding-right:50px;
}

.prompt_box table
{
	width:100%;
	margin-top:5px;
}

.prompt_box td
{
	height:40px;
	line-height:40px;
}

.prompt_box .label
{
	width:50%;
	padding-right:10px;
	
	text-align:right;
	
	font-weight:bold;
	font-size:0.8em;
}

.prompt_box input
{
	margin-bottom:8px;
}

.but_close
{
	position:absolute;
	
	right:15px;
	
	font-weight:bold;
	color:#BBB;
	cursor:pointer;
}

.but_close:hover
{
	color:white;
}

#modal_screen
{
	position:absolute;
	display:none;
	
	width:100%;
	height:100%;
	
	background-color:black;
	opacity:0.3;
	
	z-index:799;
}

#prompt_box_extern.label
{
	width:40%;
	
}

/********************************************************************************/
/******************************* POPUP HISTORIQUE *******************************/
/********************************************************************************/

#popup_historique tr td:nth-child(2n+1)
{
	color:rgb(224, 80, 32);
}

#popup_historique tr td:nth-child(2n)
{
	color:rgb(36, 131, 160);
}


#popup_historique
{
	position:fixed;
	overflow:hidden;
	
	bottom:30px;
	right:-500px;
	
	background-color:#111;
	margin:1px solid #666;
	border-radius:5px;
	
	font-weight:bold;
	font-size:0.8em;
	z-index:10000;
}

.popup_historique table
{
	margin:0;
}

.cancel_command
{
	vertical-align:middle;
	cursor:pointer;
}