@media (max-height: 700px) {
  footer{
    display: none;
    opacity: 0;
  }
}

@media (max-width: 1024px) {
    div.central, 
    div.central-haut, 
    div.central_large{
	width: 100%;
	margin: 0;
	padding: 10px 5px;
	border: 0;
	box-shadow: none;
	top: 0px;
/* 	height: 100%; */
	background-color: transparent;
    }
    div.bloc{
	background-color: transparent;
	box-shadow: 0;
    }

    html
    {
	font-size:0.8em;
    }
    body{
	background-color : #282728;
    }
 
}

